<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boolzap</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer ></script>
    <script src="script.js" defer ></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" id="root">
        <div class="side-main">
            <div class="user d-c">
                <img src="img/avatar_io.jpg" alt="">
                <h3>TheLezz</h3>
            </div>
            <div class="search d-c-j">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text">
            </div>
            <div class="list-contact">
                <div 
                v-for="contact in contacts" 
                class="chat"
                @click="selectChat(contact)"
                :class="{active: contact.hasOwnProperty('selected')}"
                >
                    <img :src="adjustImg(contact.avatar)" alt="">

                    <div class="content">
                        <span>{{contact.name}}</span>
                        <span>{{contact.messages[0].message}}</span>
                    </div>
                    <div class="last-message-time">
                        12:00
                    </div>
                </div>
               
            </div>

        </div>
        <main>
            <div class="chat-profile d-c">
                <img
                v-for="contact in contacts" 
                :src="adjustImg(contact.avatar)"
                v-show="contact.hasOwnProperty('selected')" 
                alt="">
                <div 
                v-for="contact in contacts"
                v-show="contact.hasOwnProperty('selected')" 
                class="contact" 
                >
                <h3>{{contact.name}}</h3>
                <p>ultimo accesso:{{contact.messages[0].date}} </p>
            </div>
            </div>
            <div 
            v-for="contact in contacts"
            v-show="contact.hasOwnProperty('selected')"
            class="chat-section "
            >
                <div class="sub-container">
                    <div 
                    v-for="message in contact.messages"
                    class="message"
                    :class="message.status == 'sent' ? 'sent' : ''">
                        {{message.message}}
                    </div>
 
                    
                </div>
                
            </div>
            <div class="input-section d-c-j">
                <input type="text">
            </div>
        </main>
    </div>
    <script src="https://kit.fontawesome.com/9337291c61.js" crossorigin="anonymous"></script>
</body>
</html>