<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boolzap</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer ></script>
    <script src="script.js" defer ></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" id="root">
        <div class="side-main">
            <div class="user d-c">
                <img src="img/avatar_io.jpg" alt="">
                <h3>TheLezz</h3>
            </div>
            <div class="search d-c-j">
                <i @click="searcing(searchKey)"
                class="fa-solid fa-magnifying-glass"></i>
                <input v-model="searchKey" type="text" >
            </div>
            <div class="list-contact">
                <div 
                v-for="(contact, i) in contacts"
                v-show="contact.visible" 
                class="chat"
                @click="changeIndex(i)"
                :class="{active: activeIndex==i}"
                >
                    <img :src="adjustImg(contact.avatar)" alt="">

                    <div class="content">
                        <span>{{contact.name}}</span>
                        <span>{{contact.messages[contact.messages.length - 1].message}}</span>
                    </div>
                    <div class="last-message-time">
                        {{adjDate(contact.messages[0].date)}}
                    </div>
                </div>
               
            </div>

        </div>
        <main>
            <div class="chat-profile d-c">
                <img
                
                :src="adjustImg(contacts[activeIndex].avatar)"
                
                alt="">

                <div
                class="contact" 
                >
                <h3>{{contacts[activeIndex].name}}</h3>
                <p>ultimo accesso:{{contacts[activeIndex].messages[0].date}} </p>
            </div>
            </div>
            <div class="chat-section ">
                <div class="sub-container">
                    <div 
                    v-for="message in contacts[activeIndex].messages"
                    class="message"
                    :class="message.status == 'sent' ? 'sent' : ''">
                        {{message.message}} <div class="date">{{message.date}}</div>
                        <div class="info-close"><select name="ic" id="">
                            <option name="ic" value="delete">Cancella</option>
                            <option name="ic" @click="deleteM" value="info">info</option>
                        </select></div>
                    </div>   
                </div>
                
            </div>
            <div class="input-section d-c-j">
                <input type="text" v-model="newMexText" @keyup.enter="pushMessage(newMexText)">
            </div>
        </main>
    </div>
    
    <script src="https://kit.fontawesome.com/9337291c61.js" crossorigin="anonymous"></script>
</body>
</html>